* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}   

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
}

.logo a{
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    color: white;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-links li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}
 .card a {
    color: black;
    text-decoration: none;
}

.hero {
    height: 100vh;
    background: url(./Images/nepal.jpg) no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
   
.hero-text {
    color: white;
    font-size: 40px;
    animation: popUp 1s ease-out;
}

@keyframes popUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

section {
    text-align: center;
    padding: 30px;
}

.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}

.card {
    width: 250px;
    margin: 15px;
    padding: 10px;
    box-shadow: 0 4px 8px rgb(147, 144, 153);
}

.card img {
    width: 100%;
    height: 130px;
}

@media (max-width: 768px) {
    .cards {
        flex-direction: column;
        align-items: center;
    }
}

/* contact page form styling */
.contact-form {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-form input,
.contact-form textarea {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-form button {
    padding: 10px;
    font-size: 18px;
    border: none;
    background: #8a84be;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.contact-form button:hover {
    background: #8a84be;
}
